.btn-add {
    float: right;
    position: relative;
    bottom: 36px;
    right: 12px;
}
.card .card-body {
    padding: 0 1.5rem 1.5rem 1.5rem !important;
}
.fs-15 {
    font-size: 12px !important;
}
.input-group {
    width: 50% !important;
}
.input-group.input-group-outline.is-filled .form-label,.input-group.input-group-outline.is-focused .form-label {
    width: 95% !important;
}
.input-group.input-group-outline.is-focused .form-label:before, .input-group.input-group-outline.is-focused .form-label:after, .input-group.input-group-outline.is-filled .form-label:before, .input-group.input-group-outline.is-filled .form-label:after
{
    border-top-color: #f49a17 !important;
    box-shadow: inset 0 1px #f49713 !important;
}
.input-group.input-group-outline.is-focused .form-label+.form-control, .input-group.input-group-outline.is-filled .form-label+.form-control {
    border-color: #f49917 !important;
    border-top-color: transparent !important;
    box-shadow: inset 1px 0 #f49412, inset -1px 0 #f49a17, inset 0 -1px #f49713 !important;
}
.input-group.input-group-outline.is-focused .form-label, .input-group.input-group-outline.is-filled .form-label {
    color: black !important;
}
.box-custom {
    padding: 30px;
    border: 1px solid #f49c1b;
    margin: 21px;
    border-radius: 26px;
}

